.Logo{
    display:            block;
    width:              35px;
}
.Main{
    margin-top:         51px;
}
.SideBar{
    display:            block;
    width:              300px;

    position:           fixed;
    top:                51px;
    left:               0;
    bottom:             0;


    background:         #f5f5f5;
}
.Main-Content{
    width:              calc(100% - 300px);
    margin-left:        300px;
    padding:            20px;
}